

#n1{
    font-size: 30px;
    font-weight: bold;
    color: gray;
}

.navbar{
    margin: 40px;
    background-color: white;
    border: 2px solid none; 
    position:fixed;
    box-shadow: 10px 0px 10px;
}
.nav-item{
    margin-left: 20px;
}

.Home{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    gap: 40px;
    padding-left: 20px;
}
.home-text h1{
    font-size: 50px;
    font-weight: 900;
}
.home-text span{
    color: gray;
}
.home-text p{
    margin-top: 20px;
    line-height: 30px;
}
.home-text button{
    background-color: gray;
    color: white;
    border-radius: 10px;
    height: 40px;
}

.button1{
    width: 100%;
    height: 130px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 10px;
    padding: 5px;
    flex-wrap: wrap;
}

.button1  input,select{
    width: 260px;
    height: 50px;
    background-color: rgb(47, 20, 20);
    color: white;
    font-size: 20px;
    text-align: left;
    border-radius: 10px;
}
.b1{
    width: 260px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
}
.type h1{
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    margin: 40px 0px;
}
.type p{
    line-height: 30px;
    text-align: center;
    width: 80%;
    margin-left: 40px; 
}

.pt{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 30px;
    margin-bottom: 20px;
}
 .pt-card{
    width: 20%;
    height: 200px;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 10px;
    border: 1px dotted black;
    box-shadow: rgb(234, 232, 232) 0px  0px 0px 15px;
    
}
.pt .pt-card:hover{
    background-color: gray;
    color:white;
}
.pt-card label{
    width: 80px;
    height: 70px;
    background-color: rgb(230, 219, 219);
    border-radius: 40px;
    border: 1px dotted black;
   
}
.pt-card img{
    padding: 8px;
}
.pt-card h6{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.perfect{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
}
.perfect-text h1{
    font-weight: 700;
    font-size: 50px;
}
.perfect-text p{
    text-align: justify;
    line-height: 28px;
}
.perfect-text h6{
    margin-bottom: 15px;
}
.perfect-text i{
    color: burlywood;
    margin-right: 10px;
}
.perfect-text button{
    width: 170px;
    height: 50px;
    border-radius: 10px;
    background-color: gray;
    color: white;
}
.perfect-img{
    box-shadow: rgb(234, 232, 232) 0px  20px 20px 25px;
}

.property-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 60px;
}
.property-list h1{
    font-weight: 800;
}
.property-list button{
    width: 100px;
    background-color: rgb(191, 159, 159);
    border-radius: 10px;
    color: white;
    padding: 5px;
    margin-left: 5px;
}
.property-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    z-index: -3;
    transition: all .3s;
}
.card{
    width: 30%; 
    margin-bottom: 20px; 
    transition: all 0.3s;
}

#p-card:hover
{
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgb(0, 0, 0,0.3);
}
.card-body{
    position: relative;
}

.badge-sell{
    width: 70px;
    height: 30px;
    background-color: gray;
    color: white;
    position: absolute;
    border-radius: 5px;
    left: 20px;
    top: 20px;
    text-align: center;
}
.badge-type{
    width: 100px;
    height: 30px;
    background-color: white;
    color: gray;
    position: absolute;
    border-radius: 5px;
    left: 20px;
    top: 230px;
    text-align: center;
}
.price{
    font-weight: 700;
    color: gray;
}
.property-card i{
    color: gray;
    font-weight: 600;
}
.aa1{
    width: 270px;
    height: 50px;
    border-radius: 10px;
    background-color: gray;
    color: white;
}
.con-1{
    background-color: rgb(228, 228, 239);
    height: 500px;
}
#cq{
    background-color: burlywood;
    color: black;
    margin-right: 10px;
}

/* Property Agent */

.te{
    margin-top: 30px;
}

.card-con{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    width: 90%;
    margin-left: 50px;
    
}
.cd{
    z-index: -5;
    box-shadow: 10px 0px 10px;

}
.card-con h1{
    font-size: 20px;
}

.icon{
  margin-top: -35px;
  color: #00d084;
}
.icon i{
  width: 38px;
  height: 38px;
  border: 1px solid #e8f6f0;
  background-color: white;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.icon :hover{
  border: 1px solid #00d084;
  background-color: #00d084;
  color: #fff;
}

.testi{
    border: 2px dotted black;
    padding: 10px;
    box-shadow: rgb(234, 232, 232) 0px  0px 0px 15px;
    margin-top: 60px;
}

.test-body{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.test-te{
    margin-top: 20px;
}
.test-1{
    background-color: #95ebcb;
    padding: 10px;
    margin-bottom: 10px;
}
.test-2{
    background-color: #578272;
    padding: 10px;
    margin-bottom: 10px;
}


/* Footer */
.footer {
  background-color: #0b2c4d;
  color: #cfd8dc;
  margin-top: 50px;
}
.footer a {
  color: #cfd8dc;
  text-decoration: none;
}
.footer a:hover {
  color: #00d084;
}
.footer .social a {
  width: 38px;
  height: 38px;
  border: 1px solid #cfd8dc;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.footer .social  :hover
{
  background-color: #fff;
}
.footer .gallery img {
  width: 100%;
  border-radius: 6px;
}
.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
}



@media (max-width: 1200px){
     .badge-type{
    top: 140px;
    }   
}

@media (max-width: 768px) {
    .Home{
        flex-direction: column-reverse;
    }
    .home-text button{
    margin-bottom: 10px;
    }
    .button1{
        flex-direction: column;
        flex-wrap: nowrap;
        height: 330px;
    }
    .button1  input,select{
        width: 100%;
    }
    .pt-card{
    width: 40%;
    }
    .perfect{
        flex-direction: column;
    }
    .perfect-text{
        margin-top: 30px;
    }
    .card{
    width: 45%;   
    }
    .badge-type{
    left: 20px;
    top: 160px;
    }
    .t1{
        margin-top: 170px;
    }
    .te{
    margin-top: 370px;
    }
   .card-con{
    flex-direction: column;
    margin-left: 30px;
   }
   .tm{
    margin-top: 70px;
   }


    
}

@media (max-width: 515px) {
    .perfect-img img{
        padding-left: 25px;
    }
    .perfect-text h1{
    font-size: 30px;
    }
    .perfect-text{
        margin-left: 25px;
    }
      .card{
    width: 90%; 
    }
     .badge-type{
    top: 260px;
    }

}


